VDAC + Combinazione scambio primari
<"V",1936,1,0>

Definizioni correnti utilizzate nel file
<"I","A","Mo","G",80,2307,0.254>
<"I","B","Mo","G",90,2352,0.254>
<"I","C","Mo","P",20,2585,0.1>

Corrente dedicata alla Tomografia
<"T","Mo",100,2267,0.273>
Definizioni Intervalli Fuoco Grande
<"M","Mo","G",0,160,"A">
<"M","Mo","G",160,4000,"B">
<"M","Mo","G",4000,6400,"A">

Definizioni Intervalli Fuoco Piccolo
<"M","Mo","P",0,2000,"C">

Definizioni Intervalli Starter
<"S","Mo","G",0,4500>

