VDAC + Combinazione scambio primari
<"V",1769,1,0>

Definizioni correnti utilizzate nel file
<"I","A","Mo","G",70,2406,0.254>
<"I","B","Mo","G",90,2424,0.254>
<"I","C","Mo","P",22,2725,0.1>

Corrente dedicata alla Tomografia
<"T","Mo",100,2267,0.273>
Definizioni Intervalli Fuoco Grande
<"M","Mo","G",0,1600,"B">
<"M","Mo","G",1600,6400,"A">

Definizioni Intervalli Fuoco Piccolo
<"M","Mo","P",0,2000,"C">

Definizioni Intervalli Starter
<"S","Mo","G",0,4500>

