VDAC + Combinazione scambio primari
<"V",0,53,0>

Definizioni correnti utilizzate nel file

Corrente dedicata alla ToWgrafia
Definizioni Intervalli Fuoco Grande

Definizioni Intervalli Fuoco Piccolo

Definizioni Intervalli Starter

