VDAC + Combinazione scambio primari
<"V",0,0,0>

Definizioni correnti utilizzate nel file

Corrente dedicata alla Tomografia
Definizioni Intervalli Fuoco Grande

Definizioni Intervalli Fuoco Piccolo

Definizioni Intervalli Starter

